@page
@model FormWizard.Pages.MyForms.IndexModel
@{
}


<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h3 class="h3 d-inline align-middle"> Forms</h3>
        </div>
        <div class="col-6 d-flex justify-content-end">
            <form method="post">
                <label for="showAll">Show All</label>
                <input type="checkbox" id="showAll" asp-for="ShowAll" />
            </form>
            <a asp-page="create" class="btn btn-facebook btn-sm">
                <i class="bi bi-plus-circle"></i>&nbsp;
                Add Form
            </a>
        </div>
    </div>
    <br />
	<div class="row">
	    <div class="col-12">
		    <div class="card">
			    <div class="card-body">
                    <table class="table table-bordered table-striped" style="width:100%">
                        <thead>
                            <tr>
                                <th>
                                  Name
                                </th>
                                <th>
                                    Category
                                </th>
                                <th>
                                    Country
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var obj in Model.myForm)
                            {
                                <tr>
                                    <td width="20%">
                                        @obj.Name
                                    </td>
                                    <td width="20%">
                                        @obj.Category.Name
                                    </td>
                                    <td width="20%">
                                        <img src="@obj.Country.FlagImage" class = "rounded-circle" alt="food pic" width="50px" height="50px" />
                                    </td>
                                    <td>
                                        <div>
                                            <nav class="nav btn-group">
                                                <a asp-page="/Questions/Index" asp-route-myformid="@obj.Id" class="btn btn-sm btn-primary">
                                                    <i class="bi bi-question-circle" style="font-size: 0.8rem; color: white;"></i>
                                                    &nbsp Questions
                                                </a>
                                                <a asp-page="/QuestionView/Index" asp-route-myformid="@obj.Id" class="btn btn-sm btn-primary">
                                                    <i class="bi bi-eye" style="font-size: 0.8rem; color: white;"></i>
                                                   &nbsp Preview
                                                </a>
                                                <a asp-page="Edit" asp-route-myformid="@obj.Id" class="btn btn-sm btn-primary">
                                                    <i class="bi bi-pencil-square" style="font-size: 0.8rem; color: white;"></i>
                                                    &nbsp Edit
                                                </a>
                                                <a asp-page="Delete" asp-route-myformid="@obj.Id" class="btn btn-sm btn-danger" hidden>
                                                    <i class="bi bi-trash-fill" style="font-size: 0.8rem; color: white;"></i>
                                                    &nbsp Delete
                                                </a>
                                            </nav>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

@section Scripts {

    <script>
        $(function (){
            $("#showAll").change(function() {
                $(this).closest('form').submit();
            })
        })
    </script>
}