@page
@model FormWizard.Pages.QuestionOptions.IndexModel
@{
}


<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary"> Question Option</h2>
        </div>
        <div class="col-6">
            <a asp-page="Create" asp-route-questionid="@(ViewData["QuestionId"])" asp-route-questiontype="@(ViewData["QuestionType"])" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i>&nbsp;
                Create Option
            </a>
            <a asp-page="/Questions/Index" asp-route-myformid="@(ViewData["MyFormId"])" class="btn btn-secondary">
                <i class="bi bi-plus-circle"></i>&nbsp;
                Back to Questions
            </a>
        </div>
    </div>
    <br />
    <br />

    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    Question option
                </th>
                <th>
                    type
                </th>
                <th>
                    Question For
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model.questionOption)
            {
                <tr>
                    <td width="30%">
                        @obj.OptionText
                    </td>
                    <td width="10%">
                        @obj.OptionType
                    </td>
                    <td width="20%">
                        @obj.Question.QuestionText
                    </td>
                    <td width="40%">
                        <div class="w-75 btn-group" role="group">
                            <a asp-page="Edit" asp-route-id="@obj.Id" class="btn btn-primary" mx-2>
                                <i class="bi bi-pencil-square"></i>
                                Edit
                            </a>
                            <a asp-page="Delete" asp-route-questionoptionid="@obj.Id" asp-route-questionid="@obj.QuestionId" asp-route-myformid="@(ViewData["MyFormId"])" class="btn btn-danger" mx-2>
                                <i class="bi bi-trash-fill"></i>
                                Delete
                            </a>
@*                            @if (obj.Type == FormWizard.Model.Question.QuestionType.radio)
                            {
                                <a asp-page="/QuestionOptions/Index" asp-route-id="@obj.Id" asp-route-type="@obj.Type" class="btn btn-primary" mx-2>
                                    <i class="bi bi-pencil-square"></i>
                                    Options
                                </a>
                            }*@
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>