@page
@using FormWizard.Model;
@model FormWizard.Pages.QuestionView.IndexModel
@{
}

<div class="container-xxl py-5">

    <form method="post">
        <div class="border p-3 mt-4">
            <div class="row pb-2">
                <h2 class="text-primary pl-3">Form View</h2>
                <hr />
            </div>
            @foreach (var ques in Model.questions)
            {
                //Question Type "Text"
                if (ques.Type == FormWizard.Model.Question.QuestionType.text)
                {
                    <div class="mb-3">
                        <label>@ques.QuestionText</label>
                        <input type="@ques.Type" class="form-control" />
                        <span asp-validation-for="@ques.QuestionText" class="text-danger"></span>
                    </div>
                }
                //Question type "Radio"
                @if (ques.Type == FormWizard.Model.Question.QuestionType.radio)
                {
                    <div class="mb-3">
                        <p>@ques.QuestionText</p>
                        @foreach (var option in ViewData["questionOptions"] as IEnumerable<QuestionOption>)
                        {
                            if (option.QuestionId == ques.Id)
                            {
                                <div class="form-check">
                                    <label class="form-check-label">@option.OptionText</label>
                                    <input class="form-check-input" type="@option.OptionType" value="@option.OptionValue" name="@option.OptionType" />
                                </div>
                            }
                        }

                        <span asp-validation-for="@ques.QuestionText" class="text-danger"></span>
                    </div>
                }
                //Question type "Checkbox"
                @if (ques.Type == FormWizard.Model.Question.QuestionType.checkbox)
                {
                    <div class="mb-3">
                        <p>@ques.QuestionText</p>
                        @foreach (var option in ViewData["questionOptions"] as IEnumerable<QuestionOption>)
                        {
                            if (option.QuestionId == ques.Id)
                            {
                                <div class="form-check">
                                    <label class="form-check-label">@option.OptionText</label>
                                    <input class="form-check-input" type="@option.OptionType" value="@option.OptionValue" name="@option.OptionType" />
                                </div>
                            }
                        }

                        <span asp-validation-for="@ques.QuestionText" class="text-danger"></span>
                    </div>
                }
                //Question Type "number"
                if (ques.Type == FormWizard.Model.Question.QuestionType.number)
                {
                    <div class="mb-3">
                        <label>@ques.QuestionText</label>
                        <input type="@ques.Type" class="form-control" />
                        <span asp-validation-for="@ques.QuestionText" class="text-danger"></span>
                    </div>
                }
                //Question Type "date"
                if (ques.Type == FormWizard.Model.Question.QuestionType.date)
                {
                    <div class="mb-3">
                        <label>@ques.QuestionText</label>
                        <input type="@ques.Type" class="form-control" />
                        <span asp-validation-for="@ques.QuestionText" class="text-danger"></span>
                    </div>
                }
                //Question type "List"
                @if (ques.Type == FormWizard.Model.Question.QuestionType.list)
                {
                    <div class="mb-3">
                        <label>@ques.QuestionText</label>
                        <select>
                            <option disabled selected>--- Select Item ---</option>
                        @foreach (var option in ViewData["questionOptions"] as IEnumerable<QuestionOption>)
                        {
                            if (option.QuestionId == ques.Id)
                            {
                            <option value="@option.OptionValue">@option.OptionText</option>
                            }
                        }
                        </select>
                        <span asp-validation-for="@ques.QuestionText" class="text-danger"></span>
                    </div>
                }
            }
            <button type="submit" class="btn btn-primary" style="width:150px">Create No</button>
            <a asp-page="/MyForms/Index" class="btn btn-secondary" style="width:150px">Back to List</a>

        </div>

    </form>

</div>

@*<label asp-for="myForm.CategoryId"></label>
<select asp-for="myForm.CategoryId" asp-items="@(ViewData["categoryList"] as IEnumerable<SelectListItem>)">
    <option disabled selected>--- Select Item ---</option>
</select>*@