@page
@model FormWizard.Pages.QuestionConditions.IndexModel
@{
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h3 class="h3 d-inline align-middle">@*@(ViewData["FormName"])*@</h3>
        </div>
        <div class="col-6 d-flex justify-content-end">
            <nav class="nav btn-group">
                <a asp-page="/Questions/index" asp-route-myformid="@(ViewData["MyFormId"])" class="btn btn-light bg-white btn-sm">
                    <i class="bi bi-arrow-left"></i>&nbsp;
                    Back to Question
                </a>
                <a asp-page="Create" asp-route-questionid="@(ViewData["QuestionId"])" asp-route-myformid="@(ViewData["MyFormId"])" class="btn btn-facebook btn-sm">
                    <i class="bi bi-plus-circle"></i>&nbsp;
                    Create Question Condition
                </a>
            </nav>
        </div>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <table class="table table-bordered table-striped" style="width:100%">
                        <thead>
                            <tr>
                                <th>
                                    Question condition
                                </th>
                                <th>
                                    type
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        @foreach (var obj in Model.questionConditions)
                            {
                                <tr>
                                    <td width="30%">
                                        @obj.QuestionText
                                    </td>
                                    <td width="20%">
                                        @obj.Type
                                    </td>
                                    <td width="20%">
                                        <div>
                                            <nav class="nav btn-group">
                                                <a asp-page="Edit" asp-route-questionconditionid="@obj.Id" asp-route-questionid="@obj.QuestionId" asp-route-myformid="@(ViewData["MyFormId"])" class="btn btn-primary btn-sm">
                                                    <i class="bi bi-pencil-square" style="font-size: 0.8rem; color: white;"></i>
                                                    Edit
                                                </a>
                                                <a asp-page="Delete" asp-route-questionconditionid="@obj.Id" class="btn btn-danger btn-sm">
                                                    <i class="bi bi-trash-fill" style="font-size: 0.8rem; color: white;"></i>
                                                    Delete
                                                </a>
@*                                                @if (obj.Type == FormWizard.Model.QuestionCondition.QuestionType.radio || obj.Type == FormWizard.Model.QuestionCondition.QuestionType.checkbox || obj.Type == FormWizard.Model.QuestionCondition.QuestionType.list)
                                                {
                                                    <a asp-page="/QuestionOptions/Index" asp-route-questionid="@obj.Id" asp-route-questiontype="@obj.Type" asp-route-myformid="@(ViewData["MyFormId"])" class="btn btn-light bg-white btn-sm">
                                                        &nbsp Options
                                                    </a>
                                                }*@
                                            </nav>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div>
                        <div>
                            <div>
                            </div>
                        </div>
